@page "/venture-capital-investors"

@inherits ComponentBase;


<HeadAndMetaContent Title="Venture Capital investors"
                    Description="We are always engaged with Venture Capital investors as we seek to broaden Dioptra's product offering and grow revenue."
                    OpenGraphImage=""
                    TwitterImage="">
</HeadAndMetaContent>


<div class="dw-section-regular">
    <div class="dw-max-width-content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12">
                    <h2 class="mb-card__title mdc-typography--headline1">If you're a VC...</h2>
                    <p class="mdc-typography--body1">
                        We have bootstrapped to launch our first product, Vectis. Vectis is revenue generating, being licensed to <span class="dw-hidden">XXX Capital</span> (name to be revealed soon).
                        Dioptra's mission is to bring the sensibilities behind Vectis to the whole institutional real estate investment community: banking grade quantitative accuracy and data audit, intuitive UX,
                        the simplicity of SaaS product delivery and blazing performance. We are already holding talks with select Venture Capital funds about how to deliver on this mission. If you want to join the conversation
                        you can start by contacting us here.
                    </p>
                    <p style="text-align: right"><MBButton LeadingIcon="attach_money" Label="Let's talk about funding" ButtonStyle="@MBButtonStyle.ContainedUnelevated" @onclick="@(() => OpenDialogAsync())" /></p>
                </div>
            </div>
        </div>
    </div>
</div>

<MBDialog EscapeKeyAction=""
          @ref="@Dialog"
          ScrimClickAction=""
          Title="@HiringDialogTitle">
    <Body>
        <EditForm Model="@VentureCapitalEnquiry"
                  OnValidSubmit="@DialogSubmittedAsync">

            <DataAnnotationsValidator />

            <MBTextField @bind-Value="@VentureCapitalEnquiry.Name"
                         Label="Name"
                         style="width: 100%; margin-top: 6px;"
                         TextInputStyle="@MBTextInputStyle.Outlined"
                         ValidationMessageFor="@(() => VentureCapitalEnquiry.Name)" />


            <MBTextField @bind-Value="@VentureCapitalEnquiry.Email"
                         Label="Email"
                         style="width: 100%; margin-top: 6px;"
                         TextInputStyle="@MBTextInputStyle.Outlined"
                         ValidationMessageFor="@(() => VentureCapitalEnquiry.Email)" />

            <MBTextField @bind-Value="@VentureCapitalEnquiry.Phone"
                         Label="Phone Number"
                         style="width: 100%; margin-top: 6px;"
                         TextInputStyle="@MBTextInputStyle.Outlined"
                         ValidationMessageFor="@(() => VentureCapitalEnquiry.Phone)" />

            <MBTextField @bind-Value="@VentureCapitalEnquiry.CompanyName"
                         Label="Company Name"
                         style="width: 100%; margin-top: 6px;"
                         TextInputStyle="@MBTextInputStyle.Outlined"
                         ValidationMessageFor="@(() => VentureCapitalEnquiry.CompanyName)" />

            <MBTextField @bind-Value="@VentureCapitalEnquiry.Website"
                         Label="Website"
                         style="width: 100%; margin-top: 6px;"
                         TextInputStyle="@MBTextInputStyle.Outlined"
                         ValidationMessageFor="@(() => VentureCapitalEnquiry.Website)" />

            <MBTextArea @bind-Value="@VentureCapitalEnquiry.FundThesis"
                        Label="Fund Thesis"
                        Rows="3"
                        style="width: 100%; margin-top: 6px;"
                        TextInputStyle="@MBTextInputStyle.Outlined"
                        ValidationMessageFor="@(() => VentureCapitalEnquiry.FundThesis)" />

            <MBTextArea @bind-Value="@VentureCapitalEnquiry.OtherInformation"
                        Label="Other Information"
                        Rows="4"
                        style="width: 100%; margin-top: 6px;"
                        TextInputStyle="@MBTextInputStyle.Outlined"
                        ValidationMessageFor="@(() => VentureCapitalEnquiry.OtherInformation)" />

            <div class="mdc-layout-grid__cell--span-12" style="text-align: right;">
                <MBButton Label="Send"
                          ButtonStyle="@MBButtonStyle.Outlined"
                          style="margin: 0.75em 0.25em 0.25em 0.25em;"
                          type="submit" />

                <MBButton Label="Cancel"
                          @onclick="@CloseDialogAsync"
                          style="margin: 0.75em 0.25em 0.25em 0.25em;"
                          type="button" />
            </div>

        </EditForm>
    </Body>
</MBDialog>